@model SocialMediaApplication.Models.Post

@{
    ViewData["Title"] = "EditPost";
}
<body style="background-image: linear-gradient( 45deg, hsl(240deg 81% 66%) 0%, hsl(210deg 100% 50%) 11%, hsl(205deg 100% 50%) 22%, hsl(200deg 100% 50%) 33%, hsl(196deg 100% 50%) 44%, hsl(191deg 100% 48%) 56%, hsl(181deg 100% 42%) 67%, hsl(169deg 100% 44%) 78%, hsl(158deg 100% 46%) 89%, hsl(128deg 85% 67%) 100% );">

    <h1>EditPost</h1>

    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditPost">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PostId" />
                <div class="form-group">
                    <label asp-for="PostBody" class="control-label"></label>
                    <input asp-for="PostBody" class="form-control" />
                    <span asp-validation-for="PostBody" class="text-danger"></span>
                </div>
                <div style="display:none;" class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div style="display:none;" class="form-group">
                    <label asp-for="NumberOfLikes" class="control-label"></label>
                    <input asp-for="NumberOfLikes" class="form-control" />
                    <span asp-validation-for="NumberOfLikes" class="text-danger"></span>
                </div>
                <div style="display:none;" class="form-group">
                    <label asp-for="NumberOfComments" class="control-label"></label>
                    <input asp-for="NumberOfComments" class="form-control" />
                    <span asp-validation-for="NumberOfComments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
